@if (!isLoading) { @for (item of paginatedVenues; track $index) {
<mat-card class="example-card">
    <mat-card-header>
        <mat-toolbar class="toolbar">
            <div class="header-content">
                <img
                    mat-card-avatar
                    [src]="item.imageUrl"
                    (error)="onImageError($event)"
                    class="imgCard"
                />
                <div>
                    <mat-card-title>{{ item.name }}</mat-card-title>
                    <mat-card-subtitle>{{ item.ubication }}</mat-card-subtitle>
                    <mat-card-subtitle>{{ item.address }}</mat-card-subtitle>
                    <mat-card-subtitle style="margin-top: 2rem"
                        >Aforo máximo: {{ item.maxCapacity }}</mat-card-subtitle
                    >
                </div>
            </div>
            <span class="spacer"></span>
            <button
                mat-raised-button
                matTooltip="Debes estar logueado"
                [matTooltipDisabled]="isDisabled"
                class="btn"
                mat-button
                (click)="handleClick()"
            >
                Crea tu evento aquí
            </button>
        </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
        <mat-expansion-panel #panel>
            <app-form-events></app-form-events>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>

}
<mat-paginator
    [length]="venues.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 7, 10, 15]"
    (page)="onPageChange($event)"
>
</mat-paginator>
} @else {
<mat-spinner style="margin: auto"></mat-spinner>
}
