<div class="center">
    <span class="logo logo-login" routerLink=""></span>
    <h1>Login</h1>
    <form action="#" method="post">
        <div class="text-field">
            <input type="text" required>
            <span></span>
            <label>Email</label>
        </div>
        <div class="text-field">
            <input type="password" required>
            <span></span>
            <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login">
        <div class="singup_link">
            ¿Todavía no estás registrado? <a routerLink="/register">Sign Up</a>
        </div>
    </form>
</div>