<!-- Formulario de prueba -->
<mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!"
>
    <!-- NOMBRE DEL EVENTO -->
    <mat-step
        [stepControl]="firstFormGroup"
        label="Ponga nombre al evento"
        errorMessage="El nombre es obligatorio"
    >
        <form [formGroup]="firstFormGroup">
            <mat-form-field style="width: 50%">
                <mat-label>Nombre</mat-label>
                <input
                    matInput
                    placeholder="Nombre evento"
                    formControlName="firstCtrl"
                    required
                />
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
    <!-- FECHA DEL EVENTO -->
    <mat-step
        [stepControl]="secondFormGroup"
        label="Seleccione fecha para el evento"
        errorMessage="La fecha es obligatoria"
    >
        <form [formGroup]="secondFormGroup">
            <mat-form-field style="width: 50%">
                <mat-label>Fecha inicio a fin del evento</mat-label>
                <input
                    matInput
                    [id]="idName + spaceId"
                    formControlName="rangeCtrl"
                />
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Atrás</button>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
    <!-- DESCRIPCIÓN DEL EVENTO -->
    <mat-step
        [stepControl]="thirdFormGroup"
        label="Agregue una descripción"
        errorMessage="La descripción es obligatoria"
    >
        <form [formGroup]="thirdFormGroup">
            <mat-form-field style="width: 100%">
                <mat-label>Agregue descripción</mat-label>
                <textarea
                    matInput
                    formControlName="thirdCtrl"
                    placeholder="Descripción del evento"
                    required
                ></textarea>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Atrás</button>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Crear</ng-template>
        <p>Revise los campos rellenos.</p>
        <p>Pulsa "Finalizar" para confirmar la reserva.</p>
        <div>
            <button mat-button (click)="onSubmit()">Finalizar</button>
        </div>
    </mat-step>
</mat-stepper>
<!-- Aquí acaba el formulario -->
