:root {
    --primary-color: #071b2b;
    --secondary-color: #ea6b23;
    --thirdary-color: #446e8b;
    --fourth-color: #c7c2bf;
    --subletter-color: #7a7a7a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, sans-serif;
}
@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}
@media only screen and (max-width: 56.25em) {
    html {
        font-size: 40%;
    }
}
@media only screen and (min-width: 112.5em) {
    html {
        font-size: 75%;
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo {
    background-image: url("./assets/imagenes-cabecera/logo-bg.png");
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

/* Divisor de apartados */
.elementor-divider {
    width: 100%;
    display: flex;
    justify-content: center;
}

.elementor-divider-separator {
    width: 45%;
    height: 3rem;
    position: relative;
}

.elementor-divider-separator::after,
.elementor-divider-separator::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 0.1rem;
    background-color: #a5a5a5;
    width: 45%;
    top: 50%;
}

.elementor-divider-separator::after {
    right: 0;
}

.elementor-divider-separator::before {
    left: 0;
}

.elementor-divider-separator-circle {
    height: 100%;
    width: 3rem;
    border: 0.1rem solid #a5a5a5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    margin: auto;
}

.elementor-divider-separator-diamond {
    height: 2rem;
    width: 2rem;
    border: 0.1rem solid #a5a5a5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg) translate(20%, 20%);
}

/* Formulario Login y Register */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    border: 1px solid rgb(130, 130, 130);
    box-shadow: 2px 2px 2px 0px rgb(163, 163, 163);
}

.center h1 {
    text-align: center;
    padding: 2rem 0 2rem 0;
    font-size: 2.5rem;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .text-field {
    position: relative;
    margin: 3rem 0;
}

.text-field input {
    width: 100%;
    padding: 0 0.5rem;
    height: 40px;
    font-size: 1.6rem;
    border: none;
    outline: none;
    background: none;
}

.text-field label {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    color: rgb(173, 173, 173);
    font-size: 1.6rem;
    pointer-events: none;
    transition: 0.5s;
}

.text-field label.fieldError {
    color: #f23a3aba;
}

.text-field span {
    display: block;
    border-top: 1px solid rgb(173, 173, 173);
}

.text-field span::before {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: rgb(38, 145, 217);
    transition: 0.5s;
}

.text-field span.fieldError::before {
    width: 100%;
    background: #d92626;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label {
    top: -0.5rem;
    color: #2691d9;
}

.text-field input:focus ~ label.fieldError,
.text-field input:valid ~ label.fieldError {
    color: #d92626;
}

.text-field input.fieldError,
.text-field input:valid ~ label.fieldError {
    color: #d92626;
}

.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before {
    width: 100%;
}

.errorMsg {
    color: #d92626;
    margin-bottom: 1.5rem;
}

.pass {
    font-size: 1rem;
    margin: -0.5rem 0 20px 5px;
    color: rgb(166, 166, 166);
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
    color: rgb(38, 145, 217);
}

input[type="submit"] {
    width: 100%;
    height: 5rem;
    border: 1px solid;
    background: var(--thirdary-color);
    border-radius: 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(233, 244, 251);
    cursor: pointer;
    outline: none;
    transition: 0.5s ease;
    margin-bottom: 3rem;
}

input[type="submit"]:hover {
    transition: 0.5s ease;
    transform: translateY(-1rem);
}

.signup_link {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.4rem;
    color: rgb(102, 102, 102);
}

.signup_link a {
    color: rgb(38, 145, 217);
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}
