USE [master]
GO
/****** Object:  Database [NexusEventsDB]    Script Date: 30/05/2024 20:46:53 ******/
CREATE DATABASE [NexusEventsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NexusEvents', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NexusEvents.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NexusEvents_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NexusEvents_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NexusEventsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NexusEventsDB]
GO
/****** Object:  User [Oscar-Portatil_ASUS]    Script Date: 30/05/2024 20:46:53 ******/
CREATE USER [Oscar-Portatil_ASUS] FOR LOGIN [Oscar-Portatil_ASUS] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/05/2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 30/05/2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[UserID] [int] NOT NULL,
	[SpaceID] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserves]    Script Date: 30/05/2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserves](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SpaceId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[EventId] [int] NOT NULL,
 CONSTRAINT [PK_Reserves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spaces]    Script Date: 30/05/2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spaces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[MaxCapacity] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Ubication] [nvarchar](max) NOT NULL,
	[SpaceType] [int] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Spaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30/05/2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240515172020_Initial', N'8.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240515182227_Change_events_table', N'8.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240516164426_Add_spcae_column', N'8.0.4')
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Id], [Name], [Description], [StartDate], [UserID], [SpaceID], [CreatedDate], [EndDate], [ImageUrl]) VALUES (6, N'Prueba', N'Prueba para las fechas', CAST(N'2024-05-30T20:52:20.9210000' AS DateTime2), 6, 17, CAST(N'2024-05-27T22:53:16.2251884' AS DateTime2), CAST(N'2024-06-07T20:52:20.9210000' AS DateTime2), NULL)
INSERT [dbo].[Events] ([Id], [Name], [Description], [StartDate], [UserID], [SpaceID], [CreatedDate], [EndDate], [ImageUrl]) VALUES (7, N'Prueba', N'Prueba para las fechas', CAST(N'2024-06-16T20:52:20.9210000' AS DateTime2), 4, 17, CAST(N'2024-05-27T22:53:53.5058017' AS DateTime2), CAST(N'2024-06-21T20:52:20.9210000' AS DateTime2), NULL)
INSERT [dbo].[Events] ([Id], [Name], [Description], [StartDate], [UserID], [SpaceID], [CreatedDate], [EndDate], [ImageUrl]) VALUES (8, N'Prueba', N'Prueba para las fechas', CAST(N'2024-05-21T20:52:20.9210000' AS DateTime2), 4, 17, CAST(N'2024-05-27T23:04:37.8704471' AS DateTime2), CAST(N'2024-05-28T20:52:20.9210000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserves] ON 

INSERT [dbo].[Reserves] ([Id], [SpaceId], [UserId], [CreatedDate], [EventId]) VALUES (1, 17, 6, CAST(N'2024-05-27T22:53:16.3355908' AS DateTime2), 6)
INSERT [dbo].[Reserves] ([Id], [SpaceId], [UserId], [CreatedDate], [EventId]) VALUES (2, 17, 4, CAST(N'2024-05-27T22:53:53.5105970' AS DateTime2), 7)
INSERT [dbo].[Reserves] ([Id], [SpaceId], [UserId], [CreatedDate], [EventId]) VALUES (3, 17, 4, CAST(N'2024-05-27T23:04:37.8777527' AS DateTime2), 8)
SET IDENTITY_INSERT [dbo].[Reserves] OFF
GO
SET IDENTITY_INSERT [dbo].[Spaces] ON 

INSERT [dbo].[Spaces] ([Id], [Name], [Description], [MaxCapacity], [ImageUrl], [Ubication], [SpaceType], [Address]) VALUES (17, N'Estadio Santiago Bernabéu', N'Estadio de fútbol del Real Madrid', 81044, N'http://localhost:3000/imagenes/estadio_bernabeu.jpg', N'Madrid', 1, N'Av. de Concha Espina, 1, 28036 Madrid, España')
INSERT [dbo].[Spaces] ([Id], [Name], [Description], [MaxCapacity], [ImageUrl], [Ubication], [SpaceType], [Address]) VALUES (18, N'IFEMA - Feria de Madrid', N'Centro de exposiciones y eventos', 100000, N'http://localhost:3000/imagenes/ifema.jpg', N'Madrid', 2, N'Av. del Partenón, 5, 28042 Madrid, España')
INSERT [dbo].[Spaces] ([Id], [Name], [Description], [MaxCapacity], [ImageUrl], [Ubication], [SpaceType], [Address]) VALUES (19, N'Palacio de Congresos de Valencia', N'Centro para conferencias y eventos institucionales', 3000, N'http://localhost:3000/imagenes/palacio_congresos_valencia.jpg', N'Valencia', 3, N'Av. de las Cortes Valencianas, 60, 46015 Valencia, España')
SET IDENTITY_INSERT [dbo].[Spaces] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Password], [Email], [CreatedDate]) VALUES (1, N'Oscar', N'$2a$11$zFGSeYQ0b5WUYVvwoz2ob.IdscR07UEkZFocdIKMw5It0MYIDf32y', N'oscar@example.com', CAST(N'2024-05-15T17:57:03.2386676' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [Password], [Email], [CreatedDate]) VALUES (4, N'Pepe', N'$2a$11$L8YzXjFjETPZI7n6Z8NJie23thAjArNh7KEbXgreGy7DW90UloWkS', N'user@example.com', CAST(N'2024-05-15T21:40:12.2066656' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [Password], [Email], [CreatedDate]) VALUES (6, N'Oscar', N'$2a$11$pCdtooakn/ek/m9g1ME6dOxwylqw8PSWSB1dvH/vvqBqJCtypySkO', N'oskr234@gmail.com', CAST(N'2024-05-20T17:12:50.7131521' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 30/05/2024 20:46:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [EndDate]
GO
ALTER TABLE [dbo].[Reserves] ADD  DEFAULT ((0)) FOR [EventId]
GO
ALTER TABLE [dbo].[Spaces] ADD  DEFAULT (N'') FOR [ImageUrl]
GO
ALTER TABLE [dbo].[Spaces] ADD  DEFAULT (N'') FOR [Ubication]
GO
ALTER TABLE [dbo].[Spaces] ADD  DEFAULT ((0)) FOR [SpaceType]
GO
ALTER TABLE [dbo].[Spaces] ADD  DEFAULT (N'') FOR [Address]
GO
USE [master]
GO
