<header>
    <mat-toolbar class="toolbar">
        <button
            mat-icon-button
            aria-label="Example icon-button with menu icon"
            (click)="onHandleDrawer()"
        >
            <mat-icon fontIcon="menu" />
        </button>
        <span class="logo" routerLink=""></span>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon fontIcon="person" />
            </button>
            <mat-menu #menu="matMenu">
                @if (!isLogged) {
                <button mat-menu-item (click)="handleClick('/login')">
                    <mat-icon fontIcon="login" />
                    <span>Log in</span>
                </button>
                <button mat-menu-item (click)="handleClick('/register')">
                    <mat-icon fontIcon="person_add" />
                    <span>Sign up</span>
                </button>
                }@else {
                <button mat-menu-item (click)="handleClick('/profile')">
                    <mat-icon fontIcon="person" />
                    <span>Perfil</span>
                </button>
                <button mat-menu-item (click)="handleClick('logout')">
                    <mat-icon fontIcon="logout" />
                    <span>Log out</span>
                </button>
                }
            </mat-menu>
        </div>
    </mat-toolbar>
</header>
