
.toolbar {
    height: 80px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
    
}

.icon {
    font-size: 50px;
    height: 50px;
    width: 0px;
}

.logo {
    background-image: url('../../../assets/imagenes-cabecera/logo-bg.png');
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}