@for (item of eventsType; track item.id) {
<div class="container">
    <h1 class="name">
        Eventos
        <div>{{ item.name }}</div>
    </h1>
    <a
        href="https://angular.io/api/common/NgStyle#exported-from"
        target="_blank"
    >
        <div class="card">
            <div
                class="wrapper"
                [ngStyle]="{ 'background-image': item.image }"
            ></div>
            <mat-icon class="my-icon" fontIcon="{{ item.icon }}"></mat-icon>
        </div>
    </a>
</div>
}
