<div class="footer">
    <div class="background-overlay"></div>
    <div class="container">
        <div class="container-title">
            <h1 class="title">DÉJANOS CREAR TU PRÓXIMO EVENTO</h1>
            <div class="correo">hola&#64;nexus-events.com</div>
            <div class="container-icons">
                <div class="center-text-icon">
                    <mat-icon class="my-icon" fontIcon="pin_drop" />
                    <div class="text">C/Santa Catalaina 15, 1º</div>
                </div>
                <div class="center-text-icon">
                    <mat-icon class="my-icon" fontIcon="phone" />
                    <div class="text">91 658 85 96</div>
                </div>
                <div class="center-text-icon">
                    <mat-icon class="my-icon" fontIcon="pin_drop" />
                    <div class="text">&#64;nexus_events</div>
                </div>
            </div>
        </div>
        <img
            class="imagen"
            src="../../../assets/imagenes-cabecera/logo-bg.png"
            alt="logo"
        />
    </div>
</div>
