.footer {
    background-image: url("../../../assets/E3-footer.jpg");
    height: 70rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: relative;
}

.background-overlay {
    width: 100%;
    height: inherit;
    /* background-color: #0c0c0c; */
    opacity: 0.5;
    position: absolute;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container-title {
    align-self: flex-start;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.container-icons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.center-text-icon {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 1.6rem;
}

.text {
    color: var(--secondary-color);
}

.title {
    color: var(--secondary-color);
    z-index: 999;
    font-weight: 900;
    font-size: 5rem;
    line-height: 1;
    letter-spacing: 1rem;
}

.imagen {
    width: 40rem;
}

.correo {
    color: var(--secondary-color);
    font-size: 4rem;
    line-height: 1;
    font-style: oblique;
}

.my-icon {
    color: var(--secondary-color);
    height: 42px;
    width: 42px;
    font-size: 4rem;
}

@media (max-width: 900px) {
    .footer {
        height: 100%;
    }
}
