<div class="center">
    <span class="logo logo-login" routerLink=""></span>
    <h1>Register</h1>
    <form [formGroup]="registerForm" (ngSubmit)="enviar()">
        <div class="text-field">
            <input
                type="text"
                name="name"
                required
                formControlName="name"
            />
            <span
                [ngClass]="{'fieldError': hasErrors('name', 'required')}"
            ></span>
            <label
                [ngClass]="{'fieldError': hasErrors('name', 'required')}"
                >Nombre*</label
            >
        </div>
        <div class="text-field">
            <input type="text" name="email" required formControlName="email" />
            <span
                [ngClass]="{'fieldError': hasErrors('email', 'required') || hasErrors('email', 'email') }"
            ></span>
            <label
                [ngClass]="{'fieldError': hasErrors('email', 'required') || hasErrors('email', 'email') }"
                >Email*</label
            >
        </div>
        <div class="text-field">
            <input
                type="password"
                name="passwd"
                required
                formControlName="passwd"
            />
            <span [ngClass]="{'fieldError': hasErrors('passwd', 'required') || hasErrors('passwd', 'minlength') }"></span>
            <label [ngClass]="{'fieldError': hasErrors('passwd', 'required') || hasErrors('passwd', 'minlength') }">Password*</label>
        </div>
        <div class="text-field">
            <input
                type="password"
                name="repeatPasswd"
                required
                formControlName="repeatPasswd"
            />
            <span [ngClass]="{'fieldError': hasErrors('passwd', 'required') || hasErrors('passwd', 'minlength') ||registerForm.getError('passwordMismatch')}"></span>
            <label [ngClass]="{'fieldError': hasErrors('passwd', 'required') || hasErrors('passwd', 'minlength') || registerForm.getError('passwordMismatch')}">Repeat Password*</label>
        </div>
        @if (hasErrors('name', 'required') || hasErrors('email', 'required') || hasErrors('passwd', 'required') || isInvalid ) {
            <div class="errorMsg">
                - Los campos con * son requeridos
            </div>
        }
        @if (hasErrors('passwd', 'minlength') || isInvalid) {
            <div class="errorMsg">
                - La contraseña debe tener min 6 caracteres
            </div>
        }
        <input type="submit" value="Sign up" />
        <div class="singup_link">
            ¿Ya tienes usuario? <a routerLink="/login">Log In</a>
        </div>
    </form>
</div>
