.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        30deg,
        rgb(255, 255, 255) 55%,
        var(--thirdary-color) 55%
    );
}

.outer-box {
    position: relative;
    background: url("http://localhost:3000/imagenes/login.jpg") no-repeat center
        center;
    background-size: cover;
    width: 80rem;
    height: 550px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.41);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.271);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}

.tab-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 20px;
}

.tab {
    background-color: transparent;
    font-size: 15rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding-left: 9rem;
    padding-bottom: 5rem;
    z-index: 100;

    letter-spacing: 2.5rem;
}

.register-container {
    background: linear-gradient(
        45deg,
        var(--secondary-color),
        #fad0c4,
        #fad0c4,
        var(--secondary-color)
    );
    background-size: 300% 300%;
    animation: gradientAnimation 7s ease infinite;
    padding: 2rem 4rem;
    border-radius: 10px;
    width: 40rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.41);
    position: absolute;
    right: 50px;
    transform: translate(35%, 10%);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.logo-login {
    display: block;
    margin: auto;
    height: 100px !important;
    width: 100px !important;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: var(--thirdary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    transition: transform 0.2s linear;
}

button:hover {
    background-color: #5e98c1;
}
button:active {
    transform: translateY(0.2rem);
}

@media only screen and (max-width: 640px) {
    .tab-container {
        display: none;
    }
    .overlay {
        align-items: normal;
    }
    .login-container,
    .register-container {
        position: static;
    }
}

.fieldError {
    color: red;
}

.inputError {
    outline: 2px solid red;
}
