<div style="margin-top: 4rem">
    <h1 class="title_slogan">TUS EVENTOS RESERVADOS</h1>
    <div class="elementor-divider">
        <div class="elementor-divider-separator">
            <div class="elementor-divider-separator-circle"></div>
        </div>
    </div>
    <div class="container">
        @for (item of userEvents; track $index) {
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{ item.name }}</mat-card-title>
                    <mat-card-subtitle>{{
                        item.space?.name
                    }}</mat-card-subtitle>
                    <mat-card-subtitle style="margin-top: 1rem"
                        >Fecha inicio:
                        {{
                            item.startDate | date : "dd/MM/yyyy"
                        }}</mat-card-subtitle
                    >
                    <mat-card-subtitle
                        >Fecha fin:
                        {{
                            item.endDate | date : "dd/MM/yyyy"
                        }}</mat-card-subtitle
                    >
                    <img
                        mat-card-lg-image
                        src="../../../assets/conference.JPG"
                    />
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="card-content">
                <div>
                    <h2>Descripción del evento:</h2>
                    <p
                        [ngClass]="
                            !isShownMap[$index]
                                ? 'descriptionShown'
                                : 'descriptionHide'
                        "
                    >
                        {{ item.description }}
                    </p>
                </div>
                <div class="btn-content">
                    <button
                        class="btn"
                        (click)="deleteEvent(item.id, item.name)"
                    >
                        <mat-icon [fontIcon]="'delete'"></mat-icon>
                        Borrar
                    </button>
                    <button class="btn" (click)="toggleShow($index)">
                        @if(!isShownMap[$index]) {
                        <span>Show more...</span>
                        <mat-icon [fontIcon]="'add'"></mat-icon>
                        } @else {
                        <span>Show less...</span>
                        <mat-icon [fontIcon]="'remove'"></mat-icon>
                        }
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        }
    </div>
</div>
